.rotating-top {
  position: absolute;
  top: 30px;
  right: 40px;
  width: 200px;
  height: 200px;
  animation: rotate 40s linear infinite;
}
.rotating-btm {
  position: absolute;
  width: 350px;
  height: 350px;
  animation: rotate 40s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
